#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

.photograph-portrait {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    order: 3;
}

.photograph-header h2 {
    color: #D3573C;
    font-size: 36px;
}

.photograph-header h3 {
    color: #901C1C;
}

.photograph-header p {
    color: #525252;
}

.section-gallery {
    margin: 20px 100px;
}

.sort-form label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

select {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}









.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

.contact_button:hover, .contact_button:focus {
    color: #312E2E;
    background-color: #DB8876;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 5%;
    left: 25%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.modal-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal-form label {
    color: #312E2E;
    font-size: 36px;
}

.modal-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

.modal-form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#message {
    height: 136px;
}

#message-input {
    margin-bottom: 26px;
}

.hidden-for-at {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}