#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

.photograph-portrait {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    order: 3;
}

.photograph-header h2 {
    color: #D3573C;
    font-size: 36px;
}

.photograph-header h3 {
    color: #901C1C;
}

.photograph-header p {
    color: #525252;
}

section {
    margin: 20px 100px;
}

.sort-form label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 12px;
}

select {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 60px 0 120px 0;
}

.card-container .card {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    color: #901C1C;
}

.card {
    position: relative;
    transition: 0.3s;
    animation-name: cardreveal;
    animation-duration: 0.4s;
}

.card:hover {
    transform:scale(1.05)
}

.card img, video {
    object-fit: cover;
    width: 21vw;
    height: 20vw;
    border-radius: 5px;
}

.card-container .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

.contact_button:hover {
    color: #312E2E;
    background-color: #DB8876;
}

.submit_button:hover {
    color: white;
    background-color: #000047;
}

#contact_modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 3%;
    left: 25%;
    animation-name: modalopen;
    animation-duration: 0.4s;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal_button {
    border: none;
    background-color: transparent;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
}

.modal-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal-form label {
    color: #312E2E;
    font-size: 36px;
}

.modal-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

.modal-form input, textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}


.input-field::after {
    content: attr(data-error);
    font-size: 20px;
    font-weight: bold;
    color: #000047;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.input-field[data-error-visible="true"]::after {
    opacity: 1;
}

.input-field[data-error-visible="true"] input, .input-field[data-error-visible="true"] textarea {
    border: 2px solid #000047;
}


#message {
    height: 136px;
}

#message-input {
    margin-bottom: 26px;
}

textarea {
    text-align: left;
}

.hidden-for-at {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}

.photographer-extras {
    background-color: #DB8876;
    width: 376px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: -webkit-fixed;
    position: fixed;
    bottom: 0;
    right: 20px;
    border-radius: 5px;
    font-size: 24px;
}

.likes {
    font-size: 24px;
    transition: 0.2s;
}

.likes::after {
    font-family: "Font Awesome 5 Free";
    content: "\f004";
    font-weight: bold;
    padding-left: 5px;
    font-size: 24px;
}

.card .likes:active {
    transform: scale(1.2);
}

.modal_header {
    margin-bottom: 50px;
}

.price {
    order: 1;
}

.lightbox {
    display: none;
    background-color: white;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    animation-name: modalopen;
    animation-duration: 0.4s;
}

.lightbox .lightbox__close {
    position: absolute;
    top: 20px;
    right: 10%;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.lightbox__next {
    position: absolute;
    top: 50%;
    right: 10%;
    color: #901C1C;
    background-color: transparent;
    font-size: 62px;
    border: none;
    cursor: pointer;
}

.lightbox__prev {
    position: absolute;
    top: 50%;
    left: 10%;
    color: #901C1C;
    background-color: transparent;
    font-size: 62px;
    border: none;
    cursor: pointer;
}

.lightbox img, .lightbox video {
    width: 70vw;
    height: 88vh;
    object-position: 50% 30%;
}

.media-title {
    color: #901C1C;
    position: absolute;
    bottom: 0;
}

video ~ div::after {
    font-family: "Font Awesome 5 Free";
    content: "\f144";
    font-weight: 900;
    position: absolute;
    top: 35%;
    right: 40%;
    font-size: 75px;
    color: white;
    opacity: 0.7;
}

.card:hover > video ~ div::after {
    display: none;
}

@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
}

@keyframes dropdownopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes cardreveal {
    from {
      opacity: 0;
      transform: scale(0.1);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}


.dropdown {
    display: flex;
    gap: 15px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}


.button_sort {
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    cursor: pointer;
}

.button_sort:hover {
    color: #312E2E;
    background-color: #DB8876;
}

.options {
    margin: 0;
    padding: 0;
    display: none;
    animation-name: dropdownopen;
    animation-duration: 0.4s;
    position: absolute;
    z-index: 2;
}

.options_value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}


.options_value::after {
    content: "";
    height: 1px;
    width: 140px;
    background-color: white;
    position: absolute;
    top: 0;
}

.current_value {
    position: relative;
}

.current_value::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    right: 5px;
}

.current_value[aria-expanded="true"]::after {
    content: "\f077";
}
